body {
    background-color: rgb(233, 241, 194);
}

header {
    background-color: rgb(10, 10, 75);

}

header h1 {
    margin-left: 50%; 
}

.search {
    background-color: blueviolet;
    width: 60vh;
    height: 80vh;
    margin-top: 2px;
    border-radius: 4vh;
}

.input-group {
    width: auto;
    height: 5vh;
}

.card {
    background-color: rgb(116, 150, 116);
    max-width: 40vh;
}

.style-history {
    display: flex;
    flex-direction: column;
}

.ul-style-history {
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
}

.ul-style-history button {
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(242, 255, 251);
}

#clearBtn {
    background-color: antiquewhite;
    margin-top: 20px;
    border-radius: 5px;
}

.text-green {
    color: aquamarine;
}