body {
    background-color: rgb(233, 241, 194);
}

header {
    background-color: rgb(10, 10, 75);

}

header h1 {
    margin-left: 50%; 
}

.search {
    background-color: blueviolet;
    width: 60vh;
    height: 80vh;
    margin-top: 2px;
    border-radius: 4vh;
}

.input-group {
    width: auto;
    height: 5vh;
}

.card {
    background-color: rgb(116, 150, 116);
}